* {
    margin: 0px;
    padding: 0px;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #212353;
    cursor: pointer;
}
button {
    cursor: pointer;
}

body {
    font-family: 'Heebo', sans-serif;
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    width: 100%;
}
.header {
    width: 88%;
    margin: auto;
    padding-top: 50px;
    color: #212353;
    
    
    height: 754px;
    background-image: url(../img/image1\ 1.png);
    position: relative;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}
.logo{
    width: 49px;
    height: 35px;
}
.nav_list {
    display: flex;
    justify-content: space-between;
    max-width: 322px;
}
.nav_list li {
    padding-right: 42px;
}
li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #4B5D68;
}

.li-list {
    font-weight: 800;
}
.demo {
    width: 210px;
    height: 60px;
    margin-right: 80px;
    margin-left: 250px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
}
.demo img {
    position: relative;
    left: 15px;
}

 /* header container*/

.heading-content {
    display: flex;
    flex-direction: column;
}
.title-heading {
    max-width: 645px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
}
.text-heading {
    margin-top: 50px;
    max-width: 370px;
    max-height: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%
}
.button-heading {
    margin-top: 50px;
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    border: none;
    color: #FFFFFF;
}

/* main
   info-container */
.main {
    width: 88%;
    margin: auto;
    padding-top: 99px;
    color: #212353;
}
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1117px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.left_info {

}
.right_info {
    margin: 0px 0px 0px 62px;
}
.title_info {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 40px;
}
.text_info {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    max-width: 464px; 
}

/* feature-container */

.feature-container {
    margin-top: 149px;
    
    max-width: 1136px;
}
.title_container {                      /* выравнивание по центру одного элимента */
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.title_feature {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 50px;
}
.text_feature{
   padding-right: 280px;
   padding-left: 290px; 
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 160%;
   text-align: center;
   padding-bottom: 149px;
   color: #4B5D68;
}
.columns_row {
    
    display: flex;
    flex-wrap: wrap;
}
.columns {
    flex: 0 1 50%;
}
.column_search {
    display: flex;
    margin-bottom: 132px;
}
.img_search {
    margin-right: 29px;
    margin-top: 24px;   
}

.title_search {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    padding-bottom: 20px;
}
.text_search {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    width: 220px;
    height: 160px;
    padding-bottom: 20px;
    color: #4B5D68;
}
.button_search {
    width: 127px;
    height: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    background: #FFFFFF;
    border: none;
}
.button_search img {
    position: relative;
    left: 15px;
}

/*

slaider-container 

*/
.main_slaider{
    margin-top: 51px;
    max-width: 1118px;
    background: #9C69E2;
    border-radius: 50px;
    height: 709px;
    margin-bottom: 252px;
    margin: auto;
}
.row_content {
    display: flex;
    flex-direction: column;
    max-width: 949px;
    text-align: left;
    padding-top: 109px ;
    margin-left: 93px;   
}
.title_slaider {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 88px;
}
.info_slaider {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 20px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 949px;
    height: 330px;
}

 .column_slaider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 743.02px;
 }
 .img_slaider {
    margin-right: 44px;
 }
 .title_mail {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
 }
 .text_slaider a {
     color: #9C69E2;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 160%;
 }
 .biography {
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 180%;
     color: #4B5D68;
     padding-top: 19px;
     max-width: 566.46px;
 }
 .footer_slaider {
     margin-top: 60px;
     display: flex;
     justify-content: space-between;
 }
 .vector {
     margin-left: 20px;
 }

 /* footer-container */

 .footer {
    width: 88%;
    margin: auto;
    padding-top: 99px;
    color: #212353;
 }
 /*  1 */
 .footer-menu {
      display: flex;
      justify-content: space-between;
      
 }
 .title_footer {
     display: flex;
     flex-direction: column;
 }

.title_info{
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
}
.title_text {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
margin-top: -30px;

}
.button_menu {
    width: 170px;
height: 60px;
border: none;
background: #F063B8;
border-radius: 50px;
}
.button_menu a{
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 160%;
color: #FFFFFF;
}

 .button_request {
    width: 210px;
    height: 60px;
    margin-right: 80px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
}
.button_request img {
    position: relative;
    left: 15px;
}

/*  2 */
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 160px;
    max-width: 1118px;
    
    
    
}
.company {
    

}
.logp_row {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 67px;
}
.logo_img {
    padding-right: 20px;
    
}
.logo_footer{
    
   
}
.adress_footer {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;


}
.adress {
    
    padding-top: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;

}
.about {

}
.name_column{
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
}
.footer-list_item {
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
}
.media-list {
    display: flex;
}

.media-list_item {
    padding-right: 10px;
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 118px;
    margin-bottom: 93px;
    max-width: 1118px;;
}
.copyright {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.01em;
}